
@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf');
    src: url('../fonts/Cairo-Regular.ttf') format('woff'),
    url('../fonts/Cairo-Regular.ttf') format('truetype')
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Cairo';
}

.OverLay{
    right: 0;
    transform: translateX(100%);
}

.point{
    left: 5px;
}

.formAction button{
    left: 0;
}

.posLeftSec{
    left: 0px;
    right: auto;
}

.posRightSec{
    left: auto;
    right: 0px;
}

.imgNote .overUp{
    left: 12px;
}

#sync2 .owl-stage{
    float: right;
}

/* Media Screen */

@media screen and (max-width: 990px){


    .fixHeader{
        right: 0;
        transform: translateX(100%);
    }

}

@media screen and (max-width: 990px) {


}
